<div>
<form [formGroup]="form" (submit)="login()">
    <div>
        <label for="username">Username:</label>
        <input type="text" name ="username" placeholder="Username" formControlName="name">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" placeholder="Password" formControlName="password">
    </div>
    <div>
        <span *ngIf="logInError">Username or password invalid</span>
    </div>
    <div>
        <button [disabled]="form.invalid">Log In</button>
    </div>
    <div>
        Don't have an account? <a routerLink="/signup">Sign up here</a>
    </div>
</form>

</div>